.menu{
 font-family: 'Sacramento', cursive;
 font-size: 25px;
 text-align:center;
}
.menu > a{
  text-decoration: none;
  color:black;
  margin-right: 15px;
}
.menu > a:visited{
  color: rgb(78, 2, 255);
}
.menu > a:hover{
  color: rgb(255, 2, 200);
}
h1{
 color: rgb(255, 2, 23);
 font-family: 'Aguafina Script', cursive;
 border-bottom:2px dotted black;
}
