.largura{
  width: 700px;
  margin:auto;
  color: rgb(6, 205, 255);
  background-color: black;
  padding-top: 1px;
}
.menu{
 font-family: 'Sacramento', cursive;
 font-size: 25px;
 width: 700px;
 margin:auto;
 text-align:center;
 margin-top: 30px;
 margin-bottom: 30px;
}
.menu > a{
  text-decoration: none;
  color:black;
  margin-right: 15px;
}
.menu > a:visited{
  color: rgb(78, 2, 255);
}
.menu > a:hover{
  color: rgb(255, 2, 200);
}
h1{
 color: rgb(172, 33, 33);
 font-family: 'Aguafina Script', cursive;
 border-bottom:2px dotted #f500ff;
}
.conteudo{
  font-family: 'Lobster', cursive;
  line-height: 15px;
  position:right;
}
.img-principal{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
}
.selecionado{
  border-bottom: 2px dotted black;
}
h2{
 color: rgb(172, 33, 33);
 font-family: 'Aguafina Script', cursive;
 border-bottom:2px dotted #f500ff;
}
